@font-face {
    font-family: "HeliosCondBlack";
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("HeliosCondBlack"), url("/fonts/ofont.ru_Helios Cond (1)") format("ttf");
}

@font-face {
    font-family: "heliosCond";
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("heliosCond"), url("/fonts/ofont.ru_Helios Cond (2).ttf") format("'truetype'");
}

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Rubik"), url("/fonts/Rubik/Rubik-Medium.ttf") format("ttf");
}